<div class="container-fluid footer">
      <div class="social-links">
        <h5>social links</h5>
        <div class="github">
          <a href="https://github.com/tganyani/"><i class="fa fa-github">github <img style="width:20px;" src="/homeImages/arrow1.svg" alt="arrow1"></i></a>
        </div>
      </div>
      <div class="education">
        People's friendship university of russia rudn
      </div>
      <div class="copyright">
        tgb &copy 2022
      </div>
    </div>