
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header'); -%>
<body>
  <!-- nav bar -->
  <%- include('./partials/navbar'); -%>
   <div class="signin-form container-fluid">
     <form action="/users" method="post">
         <div class="form-title">
        <h4>Sign Up</h4>
      </div>
        <p class="error"></p>
        <div class="mb-3">
            <label for="first-name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first-name" name="firstName">
        </div>
        <div class="mb-3">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last-name" name="lastName">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
   </div>
    <!-- footer -->
    <%- include('./partials/footer'); %>
   <!-- scripts -->
   <%- include('./partials/scripts'); %>
</body>
</html>
